<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bogdan.calendr">

    <application
            android:allowBackup="true"
            android:icon="@drawable/baseline_today_black_48"
            android:label="@string/app_name"
            android:supportsRtl="false"
            android:theme="@style/Theme.Calendr">
        <activity
                android:name=".MainActivity"
                android:theme="@style/Theme.Launcher"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".EditEventActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".OptionsActivity">
        </activity>
    </application>

</manifest>